$import-google-fonts: true !default;
$font-url: 'https://fonts.googleapis.com/css?family=Nobile|Open+Sans:300|Roboto' !default;
$font-name: 'Open Sans' !default;
$font-family: $font-name, 'Open Sans', Nobile, Helvetica, sans-serif !default;
$icons-font-path: '../../../fonts/icons/' !default;
$flags-image-path: '../../../images' !default;
